fastapi
uvicorn
python-dotenv
torch
torchvision
torchaudio
opencv-python
Pillow
face_alignment
matplotlib
langchain
langchain-upstage
langchain-chroma
starlette
ultralytics
Markdown
numpy==1.26.4
scikit-learn
joblib
librosa
pymongo